# Export all functions listed below
export(
  poisson.tests,
  dapp,
  mplex.preprocess,
  dapp.simulate,
  synthesis.dapp,
  bin.counter
)
S3method(predict, dapp)
S3method(summary, dapp)
S3method(plot, dapp)

# Import all packages listed as Imports or Depends
import(utils,stats,ggplot2)
importFrom(grDevices, gray)
importFrom(graphics, hist)
importFrom(graphics, legend)
importFrom(graphics, title)

importFrom(gridExtra, grid.arrange)
importFrom(BayesLogit, rpg.devroye)
importFrom(dplyr, mutate, bind_rows)
importFrom(tidyr, gather)
importFrom(magrittr, '%>%')
